# Core Google and LangChain libraries
langchain
langchain-google-genai
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Frontend library
streamlit
beautifulsoup4
pandas
langchain_community
playwright
google-search-results